{% extends '_base.html' %}
{% load static %}
{% block content %}

    <div class="site-wrapper" id="top">
        {% block navbar %}
            {% include 'include/navbar.html' %}
        {% endblock navbar %}
        <!-- bredacrumb -->
        {% include 'chapter/breadcrumb.html' %}
        <!-- content -->
        {% include 'chapter/chapterContent.html' %}
        
        
    
    </div>
    {% block footer %}
    <!--=================================
    Brands Slider
    ===================================== -->
    <!--=================================
    Footer Area
    ===================================== -->
        {% include 'include/footer.html' %}
        
    {% endblock footer %}
    <!-- Use Minified Plugins Version For Fast Page Load -->

{% endblock content %} 