<!-- had to be edited -->
{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="site-wrapper" id="top">
    
        {% block navbar %}
            {% include 'include/navbar.html' %}
        {% endblock navbar %}

        <!--=================================
        Hero Area
        ===================================== -->
        {% include 'homepage/heroArea.html' %}
        <!--=================================
        Home Features Section
        ===================================== -->
        {% include 'homepage/homeFeature.html' %}
        <!--=================================
        Promotion Section One
        ===================================== -->
        {% include 'homepage/promotion1.html' %}
        <!--=================================
        Home Slider Tab
        ===================================== -->
        {% include 'homepage/homeslider.html' %}
        <!--=================================
        Deal of the day 
        ===================================== -->
        {% include 'homepage/dealofday.html' %}
        <!--=================================
        Best Seller Product
        ===================================== -->
        {% include 'homepage/bestSeller.html' %}
        <!--=================================
        CHILDREN’S BOOKS 
        ===================================== -->
        {% include 'homepage/childrenbook.html' %}
        <!--=================================
        Promotion Section Two
        ===================================== -->
        {% include 'homepage/promotion2.html' %}
        <!--=================================
        ARTS & PHOTOGRAPHY BOOKS
        ===================================== -->
        {% include 'homepage/artBook.html' %}
        <!--=================================
            Promotion Section Three
        ===================================== -->
        {% include 'homepage/promotion3.html' %}
        <!--=================================
        Home Blog Slider
        ===================================== -->
        <!--=================================
        Home Blog
        ===================================== -->
        {% include 'homepage/homeBlog.html' %}
        <!--=================================
        Footer
        ===================================== -->
        <!-- Modal -->
        {% include 'homepage/modal.html' %}
    </div>
    {% block footer %}
    <!--=================================
    Brands Slider
    ===================================== -->
    <!--=================================
    Footer Area
    ===================================== -->
        {% include 'include/footer.html' %}
        
    {% endblock footer %}
    <!-- Use Minified Plugins Version For Fast Page Load -->
{% endblock content %}  