<!--=================================
    ARTS & PHOTOGRAPHY BOOKS
===================================== -->
{% load static %}
<section class="section-margin">
    <div class="container">
        <div class="section-title section-title--bordered">
            <h2>ARTS & PHOTOGRAPHY BOOKS</h2>
        </div>
        <div class="product-slider sb-slick-slider slider-border-single-row" data-slick-setting='{
        "autoplay": true,
        "autoplaySpeed": 8000,
        "slidesToShow": 5,
        "dots":true
    }' data-slick-responsive='[
        {"breakpoint":1500, "settings": {"slidesToShow": 4} },
        {"breakpoint":992, "settings": {"slidesToShow": 3} },
        {"breakpoint":768, "settings": {"slidesToShow": 2} },
        {"breakpoint":480, "settings": {"slidesToShow": 1} },
        {"breakpoint":320, "settings": {"slidesToShow": 1} }
    ]'>
        {% for book in books %}
            <div class="single-slide">
                <div class="product-card">
                    <div class="product-header">
                        <a href="#" class="author">
                            {{book.author}}
                        </a>
                        <h3><a href="book/{{book.book_name}}">{{ book.book_name }}
                          </a></h3>
                    </div>
                    <div class="product-card--body">
                        <div class="card-image">
                            <img src="{% static 'image/products/product-2.jpg' %}" alt="">
                            <div class="hover-contents">
                                <a href="book/{{book.book_name}}" class="hover-image">
                                    <img src="{% static 'image/products/product-1.jpg' %}" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="cart.html" class="single-btn">
                                        <i class="fas fa-shopping-basket"></i>
                                    </a>
                                    <a href="wishlist.html" class="single-btn">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="compare.html" class="single-btn">
                                        <i class="fas fa-random"></i>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#quickModal"
                                        class="single-btn">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}    
        </div>
    </div>
</section>