<!--=================================
    Home Blog
===================================== -->
{% load static %}
<section class="section-margin">
    <div class="container">
        <div class="section-title">
            <h2>LATEST BLOGS</h2>
        </div>
        <div class="blog-slider sb-slick-slider" data-slick-setting='{
        "autoplay": true,
        "autoplaySpeed": 8000,
        "slidesToShow": 2,
        "dots": true
    }' data-slick-responsive='[
        {"breakpoint":1200, "settings": {"slidesToShow": 1} }
    ]'>
            <div class="single-slide">
                <div class="blog-card">
                    <div class="image">
                        <img src="{% static 'image/others/blog-grid-1.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="date-badge">
                                <span class="date">
                                    13
                                </span>
                                <span class="month">
                                    Aug
                                </span>
                            </div>
                            <h3 class="title"><a href="blog-details.html">How to Water and Care for Mounted</a>
                            </h3>
                        </div>
                        <p class="meta-para"><i class="fas fa-user-edit"></i>Post by <a href="#">Hastech</a></p>
                        <article class="blog-paragraph">
                            <h2 class="sr-only">blog-paragraph</h2>
                            <p>Virtual reality and 3-D technology are already well-established in the
                                entertainment...</p>
                        </article>
                        <a href="blog-details.html" class="card-link">Read More <i
                                class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="blog-card">
                    <div class="image">
                        <img src="{% static 'image/others/blog-grid-2.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="date-badge">
                                <span class="date">
                                    19
                                </span>
                                <span class="month">
                                    Jan
                                </span>
                            </div>
                            <h3 class="title"><a href="blog-details.html">Why You Never See BLOG TITLE That </a>
                            </h3>
                        </div>
                        <p class="meta-para"><i class="fas fa-user-edit"></i>Post by <a href="#">Hastech</a></p>
                        <article class="blog-paragraph">
                            <h2 class="sr-only">blog-paragraph</h2>
                            <p>Virtual reality and 3-D technology are already well-established in the
                                entertainment...</p>
                        </article>
                        <a href="blog-details.html" class="card-link">Read More <i
                                class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="blog-card">
                    <div class="image">
                        <img src="{% static 'image/others/blog-grid-3.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="date-badge">
                                <span class="date">
                                    31
                                </span>
                                <span class="month">
                                    Aug
                                </span>
                            </div>
                            <h3 class="title"><a href="blog-details.html">What Everyone Must Know About </a>
                            </h3>
                        </div>
                        <p class="meta-para"><i class="fas fa-user-edit"></i>Post by <a href="#">Hastech</a></p>
                        <article class="blog-paragraph">
                            <h2 class="sr-only">blog-paragraph</h2>
                            <p>Virtual reality and 3-D technology are already well-established in the
                                entertainment...</p>
                        </article>
                        <a href="blog-details.html" class="card-link">Read More <i
                                class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>